
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Actividades</h4>
                      <p class="card-category"> Aqui encontraras tus actividades programadas durante el transcurso de la semana</p>
                  </div>
                  <div class="card-body">   
                    <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Hora
                                  </th>
                                  <th>
                                      Lunes
                                  </th>
                                  <th>
                                      Martes
                                  </th>
                                  <th>
                                      Miercoles
                                  </th>
                                  <th>
                                      Jueves
                                  </th>
                                  <th>
                                      Viernes
                                  </th>
                                  <th>
                                      Sabado
                                  </th>
                                  <th>
                                      Domingo
                                  </th>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td *ngFor="let hora of hora7; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora8; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora9; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora10; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora11; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora12; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora13; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora14; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr><td *ngFor="let hora of hora15; let i = index" >
                                    <div *ngIf="i == 0" class="text-primary"  >
                                        {{ hora}}
                                    </div>
                                    <div *ngIf="i >= 1"  >
                                    {{ hora }}
                                    </div>
                                </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora16; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora17; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora18; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora19; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora20; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td *ngFor="let hora of hora21; let i = index" >
                                        <div *ngIf="i == 0" class="text-primary"  >
                                            {{ hora}}
                                        </div>
                                        <div *ngIf="i >= 1"  >
                                        {{ hora }}
                                        </div>
                                    </td>
                                  </tr>
                                  
                              </tbody>
                          </table>	                          
                      </div>
                </div>
              </div>
              
          </div>
          <div class="col-md-12">
          </div>
      </div>
  </div>
</div>
