<div class="main-content">
    <div class="container-fluid">
        <div class="card" style="width: 50rem;">
  <div class="card-header card-header-danger">
                        <h4 class="card-title " style="align-content: center;" >Elimina alguna Actividad</h4>
                        <p class="card-category">Llena los Espacios </p>
                        
                    </div><div class="card-body" ng-app="app-eliminar" >
    <h5 class="card-title">Ingresa los datos de la actividad a Eliminar</h5>
    
                            <form >
                                           <form>
                                                        <div class="row">
                                                            <div class="col" ng-app="app-eliminar" ">
                                                            <input type="text" class="form-control" placeholder="Dia" ngModel="Dia">
                                                            </div>
                                                            <div class="col" ng-app="app-eliminar">
                                                            <input type="text" class="form-control" placeholder="Mes" ngModel="Mes">
                                                            <div class="col" ng-app="app-eliminar">
                                                            <input type="text" class="form-control" placeholder="Año" ngModel="year">
                                                            </div>
                                                            </div>
                                                        
                                                        </form>
                                            <div class="form-group" ng-app="app-eliminar" >
                                              <label for="Name">Fecha de </label>
                                              <input type="name" class="form-control" ngModel="HoraA" placeholder="Hora">
                                            </div>
                                           
                                            
                                          </form>
                                          
                                     <a href="#" class="btn btn-success" (click)="Eliminar()"  >Agregar</a>
    
</div>
</div>
    </div>
</div>
