<div class="logo">
    <div class="dropdown show" id="dropdownMenuLink1">
        <a class="btn btn-danger btn-large dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#eee; color: white; ">
            Menu
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="prueba">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                <a class="nav-link" [routerLink]="[menuItem.path]" id="probando ">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p id="probando">{{menuItem.title}}</p>
                </a>
            </li>
        </div>
    </div>

</div>
