<div class="main-content">
    <div class="row">
    <div class="col s5 m8 offset-m4">
      <div class="card N/A transparent">
        <div class="card-image">
          <img src="source.gif"   >
          <span class="card-title">Crea Tu Actividad</span>
         
        </div>
        <div class="card-content" ng-app="app-crear" ng-controller="myCtrl">
          <h4>Por Favor llena los Espacios</h4>
         <div id="test-slider"></div>
          <div class="row">
                                <form class="col s12"  >
                                  <div class="row" >
                                    <div class="input-field col s6">
                                      <input placeholder="Nombre Actividad" id="NombreActividad" type="text" ng-model="NombreA" class="validate">
                                      <label for="Text">Nombre de tu actividad</label>
                                    </div>
                                    <div class="input-field col s6">
                                      <input placeholder="Horas de Trabajo" id="HorasdeActividad" type="text" ng-model="Horas" class="validate">
                                      
                                       </div>
                                  </div>

                                    <div class="container" >
                                        <div class="section">
                                          <div class="row">
                                            <div class="input-field col s12">
                                              <input type="text" id="fecha" class="datepicker" ng-model="Fecha">
                                                      <label for="fecha">Elige la fecha</label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div align="Center">
                                 <h5>Selecciona la Prioridad de tu Actividad</h5>
                                    <a class="waves-effect waves-light btn green darken-1"><i class="material-icons left" id="Baja" (click)="prioridadB()" >filter_1</i>Baja</a>
                                    <a class="waves-effect waves-light btn yellow darken-2"><i class="material-icons left" id="Media" (click)="prioridadM()" >filter_2</i>Media</a>
                                    <a class="waves-effect waves-light btn red accent-4"><i class="material-icons right" id="Alta" (click)="prioridadA()">filter_3</i>Alta</a>
                                     </div>       
                                  
                                  <div class="row">
                                    <div class="col s12" ng-app="app-crear" ng-controller="myCtrl">
                                      Descripcion de tu Actividad
                                      <div class="input-field inline">
                                        <input id="Descripcion" type="email" class="validate">
                                        <label for="email_inline"></label>
                                        <span class="helper-text" data-error="wrong" data-success="right" ng-model="Descripcion" >Descripcion Breve de las acciones a desarrollar</span>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class = "progress">
         <div class = "indeterminate"></div>
      </div>
          <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="Agregar()"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>

</div>
