<div class="main-content">
    <div class="container-fluid">
        <div class="card" style="width: 50rem;">
				 <div class="card-header card-header-danger">
						<h4 class="card-title " style="align-content: center;" >Prioridad de tua Actividades</h4>
						
                        <p class="card-category">Llena los Espacios </p>
                        
                    </div>
				<div class="card-body" id="Acciones">
					<div class="input-group">
							<form>
								<div class="form-group">
									<label for="Text">Nombre Actividad a Consultar</label>
									<input type="text" class="form-control"   aria-describedby="Actividad que Deseas" [(ngModel)]="NombreActividad" name="Dia">
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
							</form>
					<h6 class="card-subtitle mb-2 text-muted">Descripcion</h6>
					
					<button type="button" class="btn btn-light">Consultar</button>
					<h2 id="NombreActividad"><span class="badge badge-secondary">New</span></h2>
					<h3 id="Fecha Actividad "><span class="badge badge-secondary"  >New</span></h3>		
					
				</div>
</div>
  
    </div>
</div>
