<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Registro</h4>
                        <p class="card-category"> Si eres nuevo en nuestra aplicación WEB registrate!!!</p>
                    </div>
                    <div class="card-body">
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Nombres...">
                                <!--<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>-->
                            </div>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Apellidos...">
                            </div>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Correo electronico...">
                            </div>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Carrera que estudias...">
                            </div>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Genero (M o F)...">
                            </div>
                            <div class="input-group no-border">
                                <input type="password" value="" class="form-control" placeholder="Contraseña...">
                            </div>
                            <div class="input-group no-border">
                                <input type="password" value="" class="form-control" placeholder="Repetir contraseña...">
                            </div>
                            <div class="input-group no-border">
                                <button  type="submit" class="btn btn-white btn-round " style="background-color: rgb(192, 189, 189); color: beige; ">
                                    Registrar
                                    
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
  